body{ display: grid; grid-template-columns: repeat(6, 1fr); grid-gap: 1vw; padding-right: 2vw; padding-left: 2vw;}



ul a { font-family: nimbus-sans, sans-serif; font-weight: 400; font-style: normal; font-size: 30pt; line-height: 1vh;  }
header{position: fixed; grid-row: 1; grid-column: 1; width: 230px; }
img { width: 100%; padding-bottom: .2em; margin: auto; padding-top: 1em;}
main { grid-column: 3 / span 4; }
.credit-tag{ display: inline-block; margin: 4em 0 4em; font-size: 1.5em; }
a, a:after{text-decoration: none; color: black;}
ul {padding: 0;}


a:hover { text-decoration: underline; color: grey; -moz-transition: all .05s ease-in-out;
	    -webkit-transition: all .05s ease-in-out;
	    -o-transition: all .05s ease-in-out;
	    -ms-transition: all .05s ease-in-out;
	    transition: all .05s ease-in-out;}

p { font-family: nimbus-sans, sans-serif; font-weight: 400; font-style: normal; font-size: 3vw;  }
h1 {font-family: franklin-gothic-atf,sans-serif; font-weight: 600; font-style: normal; font-size: 3vw; text-transform: uppercase;  }
h2 { font-family: franklin-gothic-atf,sans-serif; font-weight: 600; font-style: normal; font-size: 2em;}
img { display: block; border-radius: .5%;}
.first-image{ padding-top: 0; }
body{margin: 20pt; padding: 0;}
img{ border-radius: 1%; }
.navigation-logo{ margin-bottom: 30px; }
.presentation-link{ font-family: nimbus-sans, sans-serif; font-weight: 100; font-style: normal; font-size: 3vw; margin-top: 100em;}


@media all and (max-width: 800px) {
header{position: absolute; grid-row: 1; grid-column: 2; width: 180px;}
ul a {  font-size: 21pt; line-height: 1pt;  }
.navigation-logo{ margin-bottom: 20px; }
}

@media all and (max-width: 650px) {
header{ grid-row: 1; grid-column: 2; width: 130px;}
ul a {  font-size: 16pt; margin: 0px; }
ul {margin: 0 0 2px 0;}
.navigation-logo{ margin-bottom: 6pt; }
}

@media all and (max-width: 450px) {
header{ grid-row: 1; grid-column: 2; width: 100px;}
ul a {  font-size: 10pt; margin: 0px; }
ul {margin: 0 0 1px 0;}
.navigation-logo{ margin-bottom: 5pt; }
}
@media all and (max-width: 340px) {
header{ grid-row: 1; grid-column: 2; width: 80px;}
ul a {  font-size: 10pt; margin: 0px; }
ul {margin: 0 0 1px 0;}
.navigation-logo{ margin-bottom: 5pt; }
}




